html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

#hero {
    aspect-ratio: 3 / 2;
    background: url('../images/hero.png') no-repeat center/cover;
    
}

#index-card {
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
  #hero {
    background-position: 50% 40%;
    height: 40vh;
  }
}

@media (min-width: 2560px) {
  #hero {
    background-position: 50% 40%;
    height: 50vh;
  }
}
